@charset "utf-8";
body {
  font-family: "맑은 고딕";
}

* {
  padding: 0;
  margin: 0;
}

div {
  width: 300px;
  border: 1px solid #000000;
  padding: 36px 16px;
}

div h1 {
  margin-bottom: 42px;
}

div p {
  font-size: 24px;
  color: blue;
  margin-bottom: 50px;
}
div .last {
  margin-bottom: 0;
}

div p span {
  /* 글자의 크기 */
  font-size: 36px;
  /* 글자의 색깔 */
  color: red;
  /* 글자의 굵기 */
  font-weight: 900;
}
