@charset "ctf-8";
body {
  font-family: "맑은 고딕";
}

form ol li {
  list-style: none;
  margin-bottom: 8px;
}

form ul li {
  list-style: none;
  margin-bottom: 16px;
}

form {
  width: 700px;
  margin-bottom: 50px;
}

form .idbox {
  margin-left: 69px;
}
form input[type="text"],
input[type="password"] {
  height: 60px;
  width: 410px;
  padding-left: 16px;
  border-radius: 16px;
  border: 1px solid #c5ccd2;
}
/* 손가락모양으로 커서바뀜 */
form input[type="submit"],
input[type="reset"] {
  cursor: pointer;
}
