@charset "utf-8";
body {
  font-family: "맑은 고딕";
}

table {
  border: 1px solid #000;
  width: 500px;
  margin: 0 auto;
  border-spacing: 0;
  border-collapse: collapse;
  /* 여백 지정 */
  margin-bottom: 50px;
}

th {
  border: 1px solid #000;
  height: 50px;
}

td {
  border: 1px solid #000;
  text-align: center;
  height: 50px;
  width: 100px;
}

.th2 {
  width: 150px;
}

.td2 {
  width: 150px;
}
