@charset "utf-8";
body {
  font-family: 맑은고딕, "malgun gothic", sans-serif;
}

table {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;

  width: 600px;

  margin: 0 auto;

  border-spacing: 0;

  border-collapse: collapse;
  background-color: #e4e4e4;
}

td {
  border: 1px solid #000;
  text-align: center;
  height: 38px;
  width: 200px;
}

th {
  border: 1px solid #000;
  height: 38px;
  width: 200px;
  background-color: #ffcc01;
}

.sub {
  background-color: #00ccff;
}

.dg {
  background-color: #f2f2f2;
}
