@charset "utf-8";
body {
  font-family: "맑은 고딕";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.imgbox {
  width: 400px;
  height: 400px;
  background: pink;
}

.imgbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 동영상 부모 */
.movi_wrap {
  width: 1216px;
  height: 1016px;
  display: flex;
  /* 부모요소크기에 맞으면 다음줄로 넘김 */
  flex-wrap: wrap;
  gap: 16px;
  margin: 0 auto;
}
/* 동영상 디자인 */
.movi {
  width: 800px;
  height: 400px;
  background: red;
}
.movi video {
  width: 100%;
}

/* 유튜브 영상 */
.youtube {
  width: 600px;
  height: 400px;
}
.youtube iframe {
  width: 100%;
  height: 100%;
  padding: 20px 20px;
}
