@charset "utf-8";
body {
  font-family: "맑은 고딕";
  background: #333;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div {
  width: 678px;
  height: 527px;
  border: 10px solid #fff;
  margin: 100px auto 0;
  position: relative;
  /* 클리핑 마스크 */
  overflow: hidden;
}
div p {
  width: 100%;
  height: 90px;
  background: rgba(255, 255, 255, 0.5);
  font-size: 50px;
  color: #fff;
  text-align: center;
  line-height: 90px;
  position: absolute;
  /* 현재 위치 */
  /* left: 0; */
  /* 박스 밖으로 위치 조정 */
  left: -100%;
  top: 50%;
  margin-top: -45px;
  /* 부드럽게 중간 과정 만들기 */
  transition: all 1s ease-in-out;
}
/* div박스에 마우스를  호버하면 p 근데, 호버에는 트렌지션 no p에서   */
div:hover p {
  left: 0;
}
